[Unit]
Description=minutely_buttersnap
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/buttersnap.sh -r true -i "Minutely 30 Hourly 12" -s /path/to/src-subvol /path/to/dst-dir -d /path/to/old_snapshots_dir
TimeoutStartSec=0

